body {
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    margin-top: 7rem;
    background-color: rgb(64,112,244);
    width: 26rem;
    height: 27rem;
    border-radius: 45px;
    padding-top: 40px;
    overflow: hidden;
}

.profile {
    border: 5px solid white;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 7px 20px rgb(64,112,244);
    position: relative;
    z-index: 9999;
}

.profile .gambar-profile {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container-content {
    margin-top: -60px;
    padding-top: 75px;
    height: 100%;
    background-color: white;
}

.porto {
    text-align: center;
}

.box {
    display: block;
}

.nama {
    font-weight:600;
    font-size: 2rem;
}

.job {
    margin-top: 8px;
    font-weight: 500;
}

.media-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.link {
    font-size: 1.9rem;
    border-radius: 50%;
    margin: 0 5px;
}

.link i {
    font-size: 1.3rem;
    color: white;
    width: 2.1rem;
    text-align: center;
}

